.title {
  font-family: var(--bx-font-primary);
  color: var(--bx-color-black);
  font-style: normal;
  font-weight: 900;
  font-size: 22px;
  line-height: 28px;
  margin: 0;
  padding: 0px 23px;
  text-align: center;
}
