.title {
  font-family: var(--bx-font-primary);
  font-style: normal;
  font-weight: 900;
  font-size: 22px;
  line-height: 28px;
  color: var(--bx-color-black);
}

.label {
  font-family: var(--bx-font-secondary);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 145%;
  letter-spacing: 0.03em;
  color: var(--bx-color-black);
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.body {
  padding: 0px;
}

.icon {
  margin-right: 12px;
}
