.Wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.Header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.HeaderContent {
  display: flex;
}
.BoxIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.Title {
  font-weight: 700;
  font-size: 18px;
}
.Content {
  display: flex;
  flex-direction: column;
}
