.imageBox {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}
.img {
  width: 105px;
  height: auto;
}
.content {
  display: flex;
  width: 100%;
  margin-bottom: 25px;
  justify-content: center;
}
.text {
  font-size: 16px;
  text-align: center;
}
.buttonGroup {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.buttonGroupSuccess {
  width: 100%;
  display: flex;
  justify-content: center;
}
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  line-height: 1.5;
  color: var(--bx-button-white);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: var(--bx-color-red-medium);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    transform 0.15s ease-in-out;
  outline: none !important;
  border: 1px solid var(--bx-color-red-medium);
  height: 48px;
  padding: 0 1.875rem;
  font-size: 1.125rem;
  border-radius: 1rem;
}
.button:hover {
  background-color: var(--bx-color-red-blood);
  border-color: var(--bx-color-red-blood);
  transform: translateY(-2px);
}
.buttonText {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  line-height: 22px;
  color: var(--bx-color-white);
}
