.wrapper {
  background-color: #fff;
  border: 0.3px solid;
  border-color: var(--bx-color-orange-miles);
  border-radius: 15px;
  padding: 28px 26px;
  display: flex;
  flex-direction: column;
  transition: color 0.1s ease-in-out, background 0.1s ease-in-out;
  cursor: pointer;
  box-shadow: 0px 2px 4px -2px rgba(24, 39, 75, 0.12),
    0px 4px 4px -2px rgba(24, 39, 75, 0.08);

  & svg {
    color: var(--bx-color-blue-fun);
  }
}
.wrapperIsActive {
  background-color: var(--bx-color-blue-glam);
  border-color: var(--bx-color-blue-glam);
  & svg {
    color: #fff;
  }
}
.header {
  display: flex;
  margin-bottom: 16px;
}
.boxIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
}
.headerTitle {
  color: var(--bx-color-orange-fly);
  font-size: 15px;
  font-weight: 800;
}
.headerTitleIsActive {
  color: #fff;
}
.content {
  display: flex;
  flex-direction: column;
  color: var(--bx-color-blue);
}
.contentIsActive {
  color: #fff;
}
