.wrapper {
  display: flex;
  flex-direction: column;
}
.up {
  width: 100%;
  display: flex;
  margin-bottom: 2px;
}
.street {
  font-size: 16px;
  margin-right: 5px;
  color: var(--bx-color-black);
}
.streetNumber {
  font-size: 16px;
  color: var(--bx-color-black);
}
.comma {
  font-size: 16px;
  margin-right: 5px;
  color: var(--bx-color-black);
}
.down {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.city {
  font-size: 16px;
  margin-right: 5px;
  color: var(--bx-color-black);
}
.region {
  font-size: 16px;
  color: var(--bx-color-black);
}
