.buttonContainer {
  width: max-content;
  margin: 10px auto 0 auto;
}

.img {
  position: absolute;
  width: 100%;
  border-radius: 12px;
  height: 32%;
  @media (min-width: 768px) {
    height: 59%;
  }
}

.outLink {
  border: none;
  height: 48px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--bx-color-lblue);
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
  font-size: 14px;
  flex-direction: row;
  width: max-content;
  margin: 5px auto 0px auto;
  @media (min-width: 768px) {
    margin: 24px 0 0 88%;
  }
}
