.container {
  border: 1px solid #e0c35c;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 11px;
  margin-bottom: 15px;
  //background: var(--bx--color-yellow-cloud);
  border: 1px solid;
}
.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  height: 29px;
  width: 29px;
}

.title {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #212121;
}

.text {
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #333333;
}

.close {
  cursor: pointer;
  display: flex;
  justify-content: center;
}
