.main {
  min-height: calc(100vh - 64px - 80px);
  background-color: var(--bx-color-lblue-day);
  padding: 30px 12px;
  @media (min-width: 1200px) {
    padding: 30px 24px;
  }
}
.title {
  font-weight: bold;
  font-size: 21px;
  margin-bottom: 24px;
  text-align: center;
}
