@import '../../styles/mixins.scss';

.main {
  min-height: 100vh;
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;

  @include media(md) {
    flex-direction: row;
  }
  @include media(lg) {
    flex-direction: row;
  }

  .content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 20;
    padding: 25px 0;

    @include media(xs) {
      position: relative;
    }

    @media (min-width: 1200px) {
      width: 49%;
      padding: 0 60px;
      z-index: 20;
    }
    @media (min-width: 1400px) {
      width: 49%;
      padding: 0 82px;
      z-index: 20;
    }

    .innerContent {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      position: relative;

      @include media(xs) {
        justify-content: unset;
        position: absolute;
        top: 70px;
        height: auto;
      }

      .imageContainer {
        margin-bottom: 20px;

        @media (min-width: 1200px) {
          display: none;
        }
      }

      .subtitle {
        font-style: normal;
        font-weight: 900;
        font-size: 22px;
        line-height: 28px;
        text-align: center;
        color: var(--bx-bg);
        margin-bottom: 24px;

        // @include media(xs) {
        //   // margin-bottom: 0%;
        // }

        @include media(md) {
          font-size: 22px;
        }
        @include media(lg) {
          color: var(--bx-fg);
          margin-bottom: 34px;
        }
      }
    }
  }
}
