.wrapper {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 32px;

  @media (min-width: 1200px) {
    padding: 0;
  }
}
.content {
  display: flex;
  max-width: 100%;
  position: relative;

  @media (min-width: 1200px) {
    max-width: 576px;
  }
}
.cardContent {
  @media (min-width: 1200px) {
    padding: 32px;
  }
}
.logoBox {
  display: none;
  @media (min-width: 1200px) {
    justify-content: center;
    display: flex;
    align-items: center;
    margin-bottom: 38px;
  }
}
.logoBoxMobile {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  @media (min-width: 1200px) {
    display: none;
  }
}
.title {
  font-size: 16px;
  text-align: center;
  margin-bottom: 24px;
  font-weight: 700;

  @media (min-width: 1200px) {
    font-size: 26px;
    margin-bottom: 38px;
    font-weight: 900;
    text-align: center;
  }
}
.text {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 1rem;
  text-align: center;

  @media (min-width: 1200px) {
    text-align: center;
  }
}
