.img {
  width: 83px;
  height: 79px;
  margin: 0 0 10px 29%;
  @media (min-width: 1200px) {
    margin: 0;
  }
}

.title {
  display: none;
  @media (min-width: 1200px) {
    display: flex;
    font-size: 26px;
    line-height: 30px;
    color: var(--bx-color-orange);
    font-weight: 900;
  }
}

.titleMobile {
  font-size: 26px;
  line-height: 30px;
  color: var(--bx-color-orange);
  font-weight: 900;
  margin: 0 auto;
  width: max-content;
  padding-bottom: 11px;
}
