.contentTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-family: var(--bx-font-primary);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.info {
  font-family: var(--bx-font-secondary);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 158%;
  letter-spacing: 0.03em;
}

.closeIconContent {
  float: right;
  padding: 5px;
  cursor: pointer;
}

.text {
  font-family: var(--bx-font-secondary);
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 158%;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--bx-color-black);
  margin-bottom: 25px;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.errorText {
  font-weight: 800;
  font-size: 12px;
  @media (min-width: 1200px) {
    font-size: 18px;
  }
}
