.wrapper {
  background: #ffffff;
  display: flex;
  flex-direction: column;
}
.wrapperFirst {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom: 1px solid var(--bx-color-blue-clear);
}
.wrapperLast {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.wrapperUnique {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom: none;
}
.header {
  display: flex;
  width: 100%;
  padding: 16px 34px;
  border-bottom: 1px solid var(--bx-color-blue-clear);
}
.headerUnique {
  border-bottom: none;
}
.headerLeft {
  flex: 1;
  flex-direction: column;
}
.headerRight {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}
.headerRightItem {
  margin-left: 8px;
  display: flex;
  align-items: center;
}
.summary {
  font-size: 16px;
  font-weight: 800;
}
