.button {
  border: none;
  background: transparent;
  margin: 0;
  width: 100%;
  padding: 0;
  display: flex;

  &:focus {
    outline: none;
  }
}
.wrapper {
  width: 100%;
  transition: transform 0.35s ease;
}
.wrapperIsOpen {
  transform: rotate(-180deg);
}
.iconBox {
  display: flex;
  align-items: center;
  justify-content: center;
}
